<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <title th:text="*{title}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="topnav" th:fragment="menu">


    <a class="active" th:href="@{/post}">List</a>

    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/private/post}">Create post</a>
    <a th:href="@{?lang=LT}">LT</a>
    <a th:href="@{?lang=EN}">EN</a>
  </div>
</body>
</html>