<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('blog | ' + ${post.getTitle()})"></head>
<body>
<div th:replace="fragments/fragments :: menu"></div>
<div>
    <h1>Welcome to my blog</h1>
</div>
<div th:object="${post}">
    <div>
        <span th:text="#{titleKey}"></span>
        <span th:text="*{title}"></span>
    </div>
    <div>
        <span th:text="#{postedTextKey}"></span>
        <span th:text="*{postedText}"></span>
    </div>
    <div>
        <span th:text="#{authorNameKey}"></span>
        <span th:text="*{authorName}"></span>
    </div>
</div>
<div>
    <a th:href="@{/public/post}">Back to list</a>
    <a th:href="@{/private/post/{id}(id=${post.getId()})}">Update post</a>
    <a th:href="@{/public/posts/{id}/comments}">Comment</a>
</div>

</body>
</html>
