<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('blog | Post')"></head>
<body>
<div th:replace="fragments/fragments :: menu"></div>
<div class="center">
    <h1>Create post</h1>
    <form th:action="@{/private/post/create}" th:object="${post}" method="post">

        <div>

            <span>Title: <input type="text" th:field="*{title}"></span>
        </div>
        <div>
            <span>Posted_text: <input type="text" th:field="*{postedText}" th:errorclass="error"></span>

        </div>
        <div>
            <span>Author_name: <input type="text" th:field="*{authorName}"></span>
        </div>


        <div>
            <input type="submit" title="Create">
        </div>
    </form>
    <div>
        <a th:href="@{/public/post}">Back to list</a>
    </div>
    <div>
<!--        <a th:href="@{/public/post{id}}">Comment</a>-->
    </div>
</div>
</body>
</html>