<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>blog | Products</title>
        <link rel="stylesheet" th:href="@{/styles.css}">
    </head>
    <head th:replace="fragments/fragments :: head('blog | Post')"></head>
    <body>
     <div th:replace="fragments/fragments :: menu"></div>

        <ul th:each="post:${post}">
            <li>
                <a th:text="${post.getTitle()}" th:href="@{/post/{id}(id=${post.getId()})}" ></a>
           </li>
        </ul>
    <div>
        <a th:href="@{/post(page=${currentPage -1})}"></a>
        <span th:rach="page: ${#numbers.sequence(0, totalpages -1)}">
            <a th:href=" @{/post(page=${page})}"></a>
        </span>
        <a th:href="@{/post(pade=${currentPage +1})}"></a>
    </div>
    <div>
        <a th:Hreef="@{/post/post}">Create post</a>
    </div>
    </body>


</html>