<html xmlns:th="https://www.thymeleaf.org">

    <head>
        <title >blog | Post</title>
    </head>
    <body>
    <a th:href="@{?lang=lt}">LT</a>
    <a th:href="@{?lang=en}">EN</a>

    <div th:object="${post}">
        <div>
            <span th:text="#{titleKey}"></span>
            <span th:text="*{title}"></span>
        </div>
        <div>
            <span th:text="#{posted_textKey}" ></span>

            <span th:text="*{posted_text}"></span>
        </div>
        <div>
            <span th:text="#{author_nameKey}"></span>
            <span>th:text="*{author_name}"</span>
        </div>

    </div>
        <div>
            <a th:href="@{/post}">Back to list</a>
            <a th:href="@{/post/post/(id=${post.getId())}}">Update post</a>
        </div>
    </body>


</html>

